@import "../../variables";
@import "../../mixin";


.light-mode {
    background-color: #fff;
    color: $text-color;
    transition: background-color 0.25s ease-out;
  }
  
.dark-mode {
background-color: #030303;
color: #999;
}

.header {
    padding: .5em;
}

#container-case-study {
    margin: auto;
    padding: 1em;
    align-content: center;
    width: 90%;

    @include phone {
        width: 100%;
         
     
       }
   
}

.title {
    font-size: 2em;
    text-align: center;
    @include phone {
        font-size: 1.5em;
         
     
       }
}

.sub-title {
    text-align: center;
}

.wrapper {
    // border: 1px solid #999;
    // border-radius: $border-radius;
    padding: 1em;
    margin: .5em;
   

    @include phone {
       width: 90%;
        
    
      }
    
      @include tablet {
        font-size: 18px;
     
      }
    
      @include desktop {
        font-size: 20px;
      }
}

h3 {
    font-size: 1.5em;
}

.persona-img-wrapper {
    display: flex;
    
    justify-content: space-evenly;

    @include phone {
        flex-direction: column;
        width: 100%;
     
       }
       @include tablet {
        font-size: 18px;
     
      }
    
      @include desktop {
        
      }
}
.persona-img {
 
    height: auto;
    margin: 1em;
    @include phone {
      
        width: 90%;
     
       }
       @include tablet {
        font-size: 18px;
     
      }
    
      @include desktop {
        width: 20%;
      }
}





    