@import "../../variables";
@import "../../mixin";

.light-mode {
    background-color: #fff;
    color: $text-color;
    transition: background-color 0.25s ease-out;
  }
  
.dark-mode {
background-color: #030303;
color: #999;
}

.header {
    padding: .5em;
}

#container-case-study-audit {
    margin: auto;
    padding: 1em;
    align-content: center;
    width: 60%;
  
    @media (max-width: 420px) {
        width: 100%;
        padding: .5em;
        margin: 0;
    }
}

.wrapper-color-contrast {
    display: flex;
    flex-direction: column;
    width: 90%;
     
       
}

h2 {
    text-align: center;
    padding: .5rem;
    margin: .5rem;
}

.h3-process {
    padding: .5rem;
}

img {
    padding: .5em;
}

li {
    list-style: square;
}