

@import "../../variables";
@import "../../mixin";

.footer-ul {
    display: flex;
    
}

.footer-li {
    align-items: center;
    list-style: none;
}

.footer-a {

    list-style: none;
    display: inline;
    text-decoration: none;
    color: $secondary-color;
    
      :hover {
        text-decoration: underline;
        color: $theme-color;
      }
      :visited {
        color: $secondary-color;
      } 
  }

