@import "../../variables";
@import "../../mixin";

.email-form-section {
    
    
    text-align: left;

    @include phone {
        font-size: 18px;
        
    
      }
    
      @include tablet {
        font-size: 18px;
     
      }
    
      @include desktop {
        font-size: 20px;
        display: flex;
      }
}

.email-h1 {
    padding: 0;
}
input, textarea {
    border-radius: $border-radius;
    padding: .5em;
    margin: .5em;
 
}

textarea {
    width: 100%;
}

.salutation {
    padding: .5em 0;
}

