$text-color: #353130;
$theme-color: #C55337;
$secondary-color: #19838C;
$link-color: $secondary-color;
$ternary-color: #716E6D;
$accent-color: #E4D264;

$text-font: Verdana, Arial, sans-serif;
$headline-font: Georgia;

$content-width: 960px;
$header-height: 60px;
$footer-height: 90px;

$border-radius: .5em;

$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
    @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width -1}) {
      @content;
    }
  }

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: #{$desktop-width}) {
      @content;
    }
  }

  @mixin retina {
    @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      @content;
    }
  }
  
  @mixin print {
    @media print {
      @content;
    }
  }