$text-color: #353130;
$theme-color: #C55337;
$secondary-color: #19838C;
$link-color: $secondary-color;
$ternary-color: #716E6D;

$text-font: Verdana, Arial, sans-serif;
$headline-font: Georgia;

$content-width: 960px;
$header-height: 60px;
$footer-height: 90px;