@import "variables";
@import "mixin";

* {
  @include google-font("Alegreya+Sans");
  @include google-font("Titillium+Web");
  font-family: $text-font;
  margin: 0 auto;

  @include phone {
    font-size: 18px;
    

  }

  @include tablet {
    font-size: 18px;
 
  }

  @include desktop {
    font-size: 20px;
  }
}

ul {
  list-style: none;
  display: inline;
  li, a {
    text-decoration: none;
    color: $secondary-color;
  
    :hover {
      text-decoration: underline;
      color: $theme-color;
    }
    :visited {
      color: $secondary-color;
    }
   
  }
}

.light-mode {
  background-color: #fff;
  color: $text-color;
  transition: background-color 0.25s ease-out;
}

.dark-mode {
  background-color: #030303;
  color: #999;
}

nav {
  width: 100%;
  display: flex;
  padding: 20px;
}



h1 {
  margin: 0;
}

button {
  border-radius: $border-radius;
  background-image: linear-gradient(to right, $theme-color ,$accent-color);
  color: #fff;
  font-weight: bold;
  margin: 1em;
  padding: .5em;
}

button:hover {
  background-image: linear-gradient(to right, $secondary-color ,$accent-color);
  cursor: pointer;
}

.toggle {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

input[type="checkbox"].checkbox {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;
}

input[type="checkbox"].checkbox:checked + label {
  left: 30px;
}

input[type="checkbox"].checkbox:focus-visible {
  outline: solid 2px white;
}

input[type="checkbox"].checkbox + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  left: 2px;
  background: #fff;
  opacity: 0.9;
  background-color: $theme-color;
}

.toggle-container {
  display: flex;
  margin: 0 auto;
}

.toggle-container > span {
  font-size: 1.2em;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 4px;
  margin-right: 2px;
}

.toggle-container > span:last-child {
  margin-top: 5px;
}




