@import "variables";
@import "mixin";


* {
  @include google-font("Alegreya+Sans");
  @include google-font("Titillium+Web");
  font-family: $text-font;
  margin: 0 auto;
  box-sizing: border-box;
  font-weight: normal;
 
  @include phone {
    font-size: 18px;
    background-color: paleturquoise;
  }

  @include tablet {
    font-size: 18px;
 
  }

  @include desktop {
    font-size: 20px;
  }
}

html {
  height: 100%;
  width: 100%;
}


li {
  list-style: none;
}